.layout {
  background-color: #7ab5c763;
  height: -webkit-fill-available;
}
/* top menu */
.header {
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 20px 35px;
    background-color: #353838;
  }

  button {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    background-color: #adb5bd;
    color: #555555;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
  }
  .radius-two {
    border-radius: 2rem;
    margin: 0 1rem;
    color: white;
    background-color: black;
  }
  button.active {
    color: #ffffff;
    background-color: #555555;
  }
  
  button:hover {
    color: #ffffff;
    background-color: #555555;
  }